.input-number {
    width: 50px;
}

.output-numberx1 {
    background-color: white;
    width: 50px;
}

.output-numberx2 {
    background-color: white;
    width: 50px;
}

.output-numberx3 {
    background-color: white;
    width: 50px;
}